/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p,
ul {
    margin: 0;
}

/* Base Styles */
body {
    height: 100vh;
    width: 100vw;
}

/* Utility Styles */
.container {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    max-width: 1700px;
}

.sr-only{
    display: none;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
}