/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p,
ul {
    margin: 0;
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: #911DED;
    height: 100vh;
    width: 100vw;
}

/* Utility Styles */
.container {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    max-width: 1700px;
}

.sr-only{
    display: none;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
}

/* Main Styles */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container h1.logo{
    width: 49%;
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
}

.container .login_details{
    background-color: white;
    width: 51%;
    height: 100%;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    border: 4px solid #BDBDBD;
    background: #F4F3F3;
    border-radius: 40px;
    padding-block: 2rem;
    margin-inline: 0.2rem;
    margin-block-start: 5rem;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: #911DED;
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    margin-block-end: 2rem;
}

.content form input{
    background: #F7F7F7;
    border: 2px solid #828282;
    padding: 1rem 1.6rem;
    width: 365px;
    margin-block-end: 2rem;
    border-radius: 51px;
}

.content form input::placeholder {
    display: block;
    color: red;
    font-weight: 700;
    text-align: left;
    font-size: 1rem;
    color: #ABAAAA;
}

.content form a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #911DED;
}

.content form .sumit{
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
}

.sumit button{
    text-decoration: none;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #911DED;
    border-radius: 44rem;
    color: #ffffff;
}

.sumit button a{
    color: #ffffff;
}

.sumit a.create{
    background-color: #000000;
    border-radius: 44rem;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
}